/* Bootstarp media query */

#navbar{
    height: 56px;
    background-color: #34D49A82;
    border-radius: 10px;    
}

#container1{    
    background-color: #c8eadf;
}

#mainheading{
    background-image: linear-gradient(129deg, #2bc495, #0c8b83);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

#middlerow{
    background-color: wheat;
    height: 500px;
}

#middleleftdiv{
    background-color: aqua;
}


#middlerightdiv{
    background-color: blue;
}

@media (max-width: 890px) {

} 


